* {
    box-sizing: border-box;
}

:root {
    --progress-bar-fill: rgb(82, 231, 82);
    --progress-bar-background: transparent;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-weight: 500;
}

p,
li {
    margin-bottom: 0.8em;
}

h1 {
    border-bottom: 0.1em solid black;
}

@media only screen and (min-width: 400px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.75em;
    }
}
.hidden {
    display: none !important;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
}

.progress-text {
    text-align: center;
    padding: 0.5em 0;
}

.progress-slider {
    position: relative;
    width: 100%;
    height: 0.3em;
    overflow-x: hidden;
    /* border: 1px solid black; */
}

.progress-line {
    position: absolute;
    background: #4a8df88c;
    width: 100%;
    height: 100%;
}

.progress-subline {
    position: absolute;
    background: #619eff;
    height: 100%;
}
.progress-slider.indeterminate .inc {
    animation: increase 2s infinite;
}
.progress-slider.indeterminate .dec {
    animation: decrease 2s 0.5s infinite;
}
@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }
    to {
        left: 130%;
        width: 100%;
    }
}
@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }
    to {
        left: 110%;
        width: 10%;
    }
}

#mainProgressBarContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 3em 1em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
}

#mainProgressBarContainer .progress-container {
    max-width: 600px;
    background-color: rgba(0,0,0,0.6);
    padding: 1em 2em;
    color: white;
    backdrop-filter: blur(5px);
    font-weight: 500;
    border-radius: 1em;
}

#mainProgressBarContainer .progress-text {
    min-height: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#mainProgressBarContainer .progress-text:empty {
    display: none;
}

table {
    border-collapse: collapse;
    margin-top: 1em;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 15%);
}

#mainTableContainer thead td {
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: white;
    box-shadow: inset 0 -2px 0 0 black;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}

#mainTableContainer tfoot td{
    font-weight: bold;
    text-align: center;
    font-weight: 500;
    padding: .5em 0;
    background-color: rgb(124, 185, 255);
}